{% extends 'base.html.twig' %}

{% block body %}
    {% if rendezVous.getRdvUser.id == app.user.id or 'ROLE_ADMIN' in app.user.roles %}
        <div class="w-100"></div>
                <section class="site-section" id="blog-section">
                        <div class="container" style="margin-top: 100px">
                            <div class="row justify-content-center mb-5 align-items-center">
                              <div class="col-md-8 text-center">
                                <h2 class="site-section-heading text-center">Rendez-Vous du {{ rendezVous.start|date('d-m-Y à H:i') }}h</h2>
                              </div>
                            </div>
                            <div class="row bg-white rounded">
                                <div class="col-md-3 p-4 text-center rounded-left" style="background-color: #25325b">
                                  <p class="text-uppercase mb-0">Prénom</p><span class="text-white mb-2"> {{ rendezVous.getRdvUser.firstName }}</span>
                                  <p class="text-uppercase mb-0 mt-3">Nom</p><span class="text-white mb-2"> {{ rendezVous.getRdvUser.lastName }}</span>
                                  <p class="text-uppercase mb-0 mt-3">Email</p><span class="text-white mb-2"> {{ rendezVous.getRdvUser.email }}</span>
                                  <p class="text-uppercase mb-0 mt-3">Téléphone</p><span class="text-white mb-2"> {{ rendezVous.getRdvUser.phoneNumber }}</span>
                                  <p class="text-uppercase mb-0 mt-3">Titre</p><span class="text-white mb-2"> {{ rendezVous.title }}</span>
                                </div>
                                <div class="col-md-9 p-4">
                                  <h4 class="mr-3 text-uppercase text-center mb-4" style="color: #25325b;">Description</h4><span class="text-secondary text-break"> {{ rendezVous.description }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3 text-center">
                              <a href="{{ path('app_rdv_edit', {'id': rendezVous.id}) }}" class="btn btn-light text-primary btn-sm p-2">Modifier</a>
                              <a href="{{ path('app_rdv_delete', {'id': rendezVous.id}) }}" class="btn btn-danger btn-sm ml-3 p-2">Supprimer</a>
                            </div>
                        </div>
                </section>
        </div>
    {% else %}
        <div class="w-100"></div>
                <section class="site-section" id="blog-section">
                        <div class="container" style="margin-top: 100px">
                            <div class="row justify-content-center mb-5 align-items-center">
                              <div class="col-md-8 text-center">
                                <h2 class="site-section-heading text-center">Vous ne pouvez pas accéder à ce rendez-vous</h2>
                              </div>
                            </div>
                        </div>
                </section>
        </div>
    {% endif %}
{% endblock %}
